#search_image {
    margin-top:2px;
}
.down-arrow {
    display:inline;
    position: static;
    margin-left:48%;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.down-arrow:hover {
    transform: scale(1.2, 1.2);
    opacity: 1;
    cursor: pointer;
}
.active_button{
  background-color: #007bff;
  color: #fff;
}
.up-arrow {
    display:none;
    position: static;
	margin-left: 48%;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.up-arrow:hover {
	transform: scale(1.2, 1.2);
    opacity: 1;
    cursor: pointer;
}
.changelogMenu {
	position: absolute;
	right: 126px;
	margin-top: 7px;
	width: 12px;
	height: 8px;
}
.changelogMenu:hover {
	transform: scale(1.2, 1.2);
    opacity: 1;
}
.changelogPanel {
	display: none;
}
.imageMenu {
	position:absolute;
	text-align:center;
}
@keyframes animatetop{from{opacity:0;top:-300px}to{opacity:1;top:0}}@keyframes spin-quarter{100%{transform:rotate(90deg)}}*{box-sizing:border-box;font-size:100%;margin:0;padding:0}html{color:#2f3033;font-family:"Nunito",sans-serif;font-size:100%;font-weight:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}body{background-color:#ebedf2}h1{margin-bottom:1rem}h2,h3,h4,h5,h6{margin-bottom:0.75rem}h1{font-size:2.185rem}h2{font-size:1.875rem}h3{font-size:1.565rem}h4{font-size:1.250rem}h5{font-size:1.125rem}h6{font-size:1.000rem}*+h1,*+h2,*+h3,*+h4,*+h5,*+h6{margin-top:2rem}.version{font-size:1.000rem}@media screen and (max-width: 64rem){html{font-size:0.9rem}h1{font-size:1.565rem;margin-bottom:0.75rem}h2{font-size:1.250rem;margin-bottom:0.5rem}h3{font-size:1.125rem;margin-bottom:0.5rem}}article{background-color:#f6f7fb;border:solid 1px #000;padding:0.75rem}p,li{line-height:1.125}p.notice{background-color:#f6f7fb;border:solid 1px #000;display:inline-block;font-style:italic;margin-bottom:1rem;padding:0.5rem}ul,ol{list-style-position:outside;list-style-type:none}*+ul,*+ol{margin-top:1rem}*+section{margin-top:1.5rem}*+article{margin-top:2rem}*+p,*+li{margin-top:0.5rem}footer{margin:0 auto;max-width:75rem;padding:0 .5rem 1rem}header{margin:0 auto;max-width:75rem;padding:1rem .5rem 0}main{margin:0 auto;max-width:75rem;padding:1rem .5rem}fieldset{border:solid 1px #000;display:block;padding:0.5rem;width:100%}fieldset+fieldset{margin-top:1.5rem}legend{padding:0 0.125rem}label{color:#000;display:inline-block;margin-right:1rem}label+span{display:inline-block;margin:0 1rem 0 -0.5rem;vertical-align:middle;white-space:nowrap}@media screen and (max-width: 35rem){label+span{margin-left:0}}label,input,select{vertical-align:middle}input[type=radio]{height:25px;display:inline;cursor:pointer;float:left}input[type=radio]+label{border:solid 1px #2f3033;color:#2f3033;cursor:pointer;display:inline;margin:0 0 0 0;padding:0.25rem 0.5rem;text-align:center;width:10.5rem}@media screen and (max-width: 64rem){input[type=radio]+label{font-size:0.8rem;width:5.5rem}}input[type=radio]:checked+label{background-color:#751b14;border-color:#2f3033;color:white}input[type=button],input[type=submit]{display:inline-block;padding:0.125rem 0.5rem}input[type=text]{display:inline-block;max-width:100%;width:20rem}.disable-behavior--tab #domainListField{display:none}.formItemSearch{background-color:#fff;border:solid 1px #2a2a2a;border-radius:6px;margin:0.5rem 0;max-width:30rem;position:relative;width:100%}.formItemSearch img{display:inline-block;height:1.5rem;left:0.25rem;pointer-events:none;border-radius:6px;position:absolute;top:0.25rem;width:1.5rem}.formItemSearch input{border:none;border-radius:6px;display:inline-block;padding:0.375rem 0.375rem 0.375rem 2rem;width:100%}.icons ul{display:block}.icons ul li{display:inline-block;margin-top:0;vertical-align:middle}@media screen and (max-width: 35rem){.icons ul li.browser--link{display:none}}.icons ul li a{display:inline-block}.icons ul li a img{display:block}.icons ul li a svg{display:block;height:auto;width:1rem}.icons ul li a svg path{fill:#0070ba;transition:all .15s linear}.icons ul li a:hover svg path{fill:#1546a0}.icons ul li:last-child{float:right}.icons ul::after{clear:both;content:'';display:table}.modal{background-color:rgba(0,0,0,0.4);bottom:0;display:none;height:100%;left:0;overflow:auto;padding-top:5rem;position:fixed;right:0;top:0;width:100%;z-index:1}.modal .modalClose{height:2rem;position:absolute;right:0.375rem;text-align:center;text-decoration:none;top:0.375rem;width:2rem}.modal .modalClose svg{cursor:pointer;height:auto;width:100%;-webkit-transition:all 0.6s ease-in-out 0s;-khtml-transition:all 0.6s ease-in-out 0s;-moz-transition:all 0.6s ease-in-out 0s;-ms-transition:all 0.6s ease-in-out 0s;-o-transition:all 0.6s ease-in-out 0s;transition:all 0.6s ease-in-out 0s}.modal .modal-close svg:hover{-webkit-transform:rotate(180deg);-khtml-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}.modal .contentModal{animation-duration:0.4s;animation-name:animatetop;background-color:#ebedf2;border:solid 1px #000;box-shadow:0 0.25rem 0.5rem 0 rgba(0,0,0,0.2),0 0.375rem 2.25rem 0 rgba(0,0,0,0.2);margin:0 auto;padding:2rem;position:relative;width:80%}.note{background-color:#fff;border-left:solid 1px #000;font-style:italic;padding:0.5rem 1.25rem}*+.note{margin-top:1rem}table{border-collapse:collapse;width:100%}th{background-color:#751b14;color:#fff;padding:0.375rem;text-align:left}th.transparent{background-color:inherit}td{cursor:default;padding:0.2rem}td.empty{background-color:#fff}#fieldset__domain-list table{border:solid 1px #f6f7fb}#domainListField table tbody{border-top:none}#domainListField table tbody tr{background-color:#fff}#domainListField table tbody tr:nth-child(even){background-color:#f6f7fb}#domainListField table tbody tr.active{background-color:#0a84ff;color:#fff}#domainListField table tbody tr:hover{background-color:#bfe4f7;color:#000}#addFormDomain table td:first-child{width:1px}#addFormDomain table label{white-space:nowrap}.itemField+.itemField{margin-top:3rem}

input[type='radio'] {
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border:1px solid darkgray;
  border-radius:10%;
  outline:none;
}

input[type='radio']:hover {
  box-shadow:0 0 5px 0px #22e5ab inset;
}

input[type='radio']:before {
  content:'';
  display:block;
  width:100%;
  height:100%;
}
input[type='radio']:checked:before {
  background: #22e5ab;
}